body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  color: #333;
}

.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  text-align: center;
}
.container h1 {
  color: red;
}
.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-group input[type="range"] {
  width: 100%;
}

.result {
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  background: #e7f7ff;
  border: 1px solid #bde0fe;
  border-radius: 4px;
}

.result p {
  margin: 10px 0;
  font-size: 1.1em;
  color: #333;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.flex-item {
  flex: 1;
  margin-right: 10px;
}

.flex-item:last-child {
  margin-right: 0;
}
